server:
  port: 8001

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/krzysztofkicinger/udemy-microservices-with-spring-cloud
          search-paths: ConfigData